version: "3.8"

services:

  users-service:
    image: us-central1-docker.pkg.dev/terraform-lab-487221/microservices-repo/users-service:1.0.0
    environment:
      - PORT=3001
      - JWT_SECRET=${JWT_SECRET}
    expose:
      - "3001"
    networks:
      - backend-net

  academic-service:
    image: us-central1-docker.pkg.dev/terraform-lab-487221/microservices-repo/academic-service:1.0.0
    environment:
      - PORT=3002
    expose:
      - "3002"
    networks:
      - backend-net

  api-gateway:
    image: us-central1-docker.pkg.dev/terraform-lab-487221/microservices-repo/api-gateway:1.0.0
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
      - USERS_SERVICE_URL=http://users-service:3001
      - ACADEMIC_SERVICE_URL=http://academic-service:3002
    depends_on:
      - users-service
      - academic-service
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge
